
<!DOCTYPE html>
<html>
<head>
<title>{{.Title}}</title>
</head>
<body>
<meta name="google-signin-client_id" content="621685478449-a27701il26nmpg8jdoer0e1fo6s8uo3c.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>
{{if .Authenticate}}
<h1>{{.Title}}</h1>
<form action="{{.Action}}" method="POST">
<input type="hidden" name="consumer_key" value="{.ConsumerKey}" />
Log in here
<div><input name="username" type="text" /></div>
<div><input name="password" type="password" /></div>
Allow {{.Application}} to access your data?
<div><input name="authorize" value="1" type="radio"> Yes</div>
<input type="hidden" name="auth_type" value="{{.PageType}}" />
santers
<div><input name="authorize" value="0" type="radio"> No</div>
<div class="g-signin2" data-onsuccess="onSignIn">sign in with google</div>
<input type="submit" value="Login" />
{{end}}
</script>
</form>
</body>
</html>